[submodule "themes/coder-portfolioo"]
	path = themes/coder-portfolioo
	url = https://github.com/naro143/hugo-coder-portfolio
[submodule "themes/coder-portfolio"]
	path = themes/coder-portfolio
	url = https://github.com/naro143/hugo-coder-portfolio
